{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TODO.COM</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('tache') }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}
